<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include ./partial/header.ejs %>
    <h3>Log In Here</h3>
    <form action="/login" method="post">
      <label for="">Username: </label>
      <input type="text" name="username" value="" placeholder="specify your username here"><br>
      <label for="">Password :</label>
      <input type="text" name="password" value="" placeholder="specify your password here"><br>
      <input type="submit" value="Login!">
    </form>
  </body>
  <%- include ./partial/footer.ejs %>
</html>
