<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include ./partial/header.ejs %>
    <h3>You've been succesfully logged out</h3>
  </body>
  <%- include ./partial/footer.ejs %>
</html>
