<div class="">
  <%if(!session){%>
  <a href="/">Home</a>
  <a href="/signup">Sign Up</a>
  <a href="/login">Log In</a>
  <a href="/about">About</a>
  <%} else {%>
  <a href="/">Home</a>
  <a href="/users/<%=session.id%>">Profile</a>
  <a href="/campaign/create">Create Campaign</a>
  <a href="/about">About</a>
  <a href="/logout">Log Out</a>
  <%=JSON.stringify(session.user)%>
  <%}%>
</div>
